* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/stardust.png");
	color: hsl(0,0%,80%);
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1, h2, h3 {
	font-family: 'Cabin', sans-serif;
	text-align: center;
}

h1 {
	font-size: 30px;
	padding-top: 5%;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 22px;
}

p {
	font-size: 18px;
}